img{
    width:200px;
    height:200px;
}
#health-Bar{
    background-color: red;
    border-radius: 15px;
    border: 2px whitesmoke solid;
    text-align: center;
    font-weight: bold;
}
/*combat-View formatting*/
#combat-View{
    position:fixed;
    width:100%;
    height:95%;
    background-color:gray;
    top:5%;
}
#ally-Zone{
    position:absolute;
    top:30%;
    left:10%;
}
#player{    
    /*background-color:green;*/
    width:200px;
    height:300px;
}
#energy{
    position:absolute;
    top:80%;
    left:5%;
    height:50px;
    width:50px;
    border-radius:75px;
    border:2px whitesmoke solid;
    background-color:teal;
    text-align: center;
}
#energy-Amount{
    line-height: 50px;
    color:whitesmoke;
    height:50px;
    width:50px;
    border-radius:75px;
}
#end-Turn-Button{
    display:flex;
    align-items: center;
    position:absolute;
    top:80%;
    right:5%;
    background-color: maroon;
    height:50px;
    width:50px;
    border-radius:75px;
    text-align: center;
    border:2px whitesmoke solid;
}
#end-Turn-Title{
    display: inline-block;
}
#draw-Pile{
    position:absolute;
    top:95%;
    left:1.5%;
}
#hand{
    position:absolute;
    bottom:5%;
    left:45%;
}
#exhaust-Pile{
    position:absolute;
    top:90%;
    right:1.5%;
}
#discard-Pile{
    position: absolute;
    top: 95%; 
    right:1.5%;
}
/* character formatting (includes player, enemies, allies*/
.character-picture-zone{
    width:200px;
    height:200px;
}
#player-Picture-Zone{
    /*background-color:yellowgreen;*/
}
#enemy-Zone{
    position:absolute;
    top:30%;
    right:10%;
}
.enemy{
    /*background-color:red;*/
    width:200px;
    height:300px;
}

.enemy-picture-zone{
    /*background-color: maroon;*/
}
.ally{
    background-color:blue;
    width:200px;
    height:300px;
}
.ally-picture-zone{
    background-color:darkblue;
}
/*top bar styling + tooltip */
#top-Bar{
    background-color: gray;
}
.top-bar-member{
    float:left;
}
.top-bar-member{
    padding-left:20px;
}
.class-bar{
    padding-left:0px !important;
}
#floor-Number{
    justify-content: center;
}
#right-Bar{
    float:right;
}
.tooltip .tool-tip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    right:75%;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tool-tip-text {
    visibility: visible;
    right:75%;
    
}
.first-element{
    padding:0px;
}

/* generic formatting classes*/
/*.invisible{
    visibility:hidden;
}
.visible{
    visibility: visible;
}
*/
.padding-0{
    padding:0px;
}